registry=https://pkgs.dev.azure.com/quantori-academy/_packaging/quantori-academy/npm/registry/                        
always-auth=true
; begin auth token
//pkgs.dev.azure.com/quantori-academy/_packaging/quantori-academy/npm/registry/:username=quantori-academy
//pkgs.dev.azure.com/quantori-academy/_packaging/quantori-academy/npm/registry/:_password=Z2t6cnVnZWJncndienRpZ3locHFtczR6azY2a2hyMzNueWlpMm5zNTRxYTM2dDdzaHdvcQ==
//pkgs.dev.azure.com/quantori-academy/_packaging/quantori-academy/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/quantori-academy/_packaging/quantori-academy/npm/:username=quantori-academy
//pkgs.dev.azure.com/quantori-academy/_packaging/quantori-academy/npm/:_password=Z2t6cnVnZWJncndienRpZ3locHFtczR6azY2a2hyMzNueWlpMm5zNTRxYTM2dDdzaHdvcQ==
//pkgs.dev.azure.com/quantori-academy/_packaging/quantori-academy/npm/:email=npm requires email to be set but doesn't use the value
; end auth token